
Appium-Python-Client
selenium
requests
Pillow

opencv-python

# comment for `allure-pytest`
allure-behave
allure-pytest
allure-python-commons

# Gherkin and Friends
behave
gherkin-official

structlog
rich
better-exceptions
jsonpath-ng
fastnumbers

# Utilities
assertpy
python-dotenv
Faker
python-box

imutils
diffimg
python-dateutil
PyYAML
browserstack-local

# Code Linters and Formatters
pylint
black
isort
pyclean
